In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['square_error', 'absolute_error', 'poisson', 'friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1) 
   

grid.fit(independent, dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
60 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
29 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'poisson', 'squared_error', 'absolute_error'}. Got 'square_error' instead.

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'absolute_error', 'friedman_mse'}. Got 'square_error' instead.

--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
18 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan 0.81999883 0.8334574  0.81304517 0.83171744
        nan        nan 0.8223858  0.8328499  0.81425302 0.83562642
        nan        nan 0.81072946 0.83347457 0.81894615 0.83448495]
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['square_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [10]:
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 100}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005191,0.001165,0.000000,0.000000,square_error,auto,10,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.020168,0.031353,0.000000,0.000000,square_error,auto,100,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.004993,0.000893,0.000000,0.000000,square_error,sqrt,10,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
3,0.005391,0.002329,0.000000,0.000000,square_error,sqrt,100,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
4,0.004594,0.000489,0.000000,0.000000,square_error,log2,10,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
5,0.005590,0.001018,0.000000,0.000000,square_error,log2,100,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
6,0.004592,0.000798,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.004794,0.000977,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.572499,0.116755,0.022566,0.009292,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.835166,0.761935,0.835696,0.827496,0.839701,0.819999,0.029299,8
9,7.776385,0.791788,0.111226,0.073230,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.858858,0.782981,0.856226,0.824132,0.845091,0.833457,0.028049,4
10,1.276194,0.148450,0.042136,0.019051,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.833036,0.747770,0.845157,0.809994,0.829270,0.813045,0.034538,11
11,6.579665,0.486323,0.092458,0.024141,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.857846,0.778577,0.855303,0.825781,0.841080,0.831717,0.028934,6
12,0.004794,0.001325,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.014578,0.014990,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.311309,0.133198,0.023366,0.012319,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.838235,0.759493,0.853816,0.820580,0.839805,0.822386,0.033170,7
15,2.812582,0.503492,0.110827,0.084078,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859794,0.777444,0.858549,0.831631,0.836832,0.832850,0.029912,5
16,0.430521,0.079724,0.038342,0.043240,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.838207,0.761881,0.839721,0.808706,0.822749,0.814253,0.028524,10
17,2.415206,0.114173,0.067893,0.004725,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.858335,0.781676,0.864479,0.833315,0.840327,0.835626,0.029279,1
18,0.004590,0.001018,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
19,0.004792,0.001164,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
20,0.220450,0.048492,0.016378,0.000798,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.833034,0.748228,0.836387,0.818462,0.817536,0.810729,0.032151,12
21,2.155013,0.071356,0.076082,0.010553,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857661,0.781633,0.861535,0.825256,0.841287,0.833475,0.028943,3
22,0.238223,0.033785,0.019773,0.006665,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.840530,0.762680,0.845554,0.817963,0.828003,0.818946,0.029741,9
23,2.227699,0.199630,0.082072,0.023367,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858715,0.775975,0.863457,0.829828,0.844449,0.834485,0.031530,2

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:42
BMI:35
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[40711.1002663]

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(