In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['square_error', 'absolute_error', 'poisson', 'friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1) 
   

grid.fit(X_train, Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
60 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'squared_error', 'poisson', 'friedman_mse'}. Got 'square_error' instead.

--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'poisson', 'friedman_mse', 'squared_error'}. Got 'square_error' instead.

--------------------------------------------------------------------------------
17 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
13 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan 0.796138   0.81171142 0.79074192 0.80842338
        nan        nan 0.7917291  0.81228846 0.78835702 0.8127359
        nan        nan 0.79460363 0.81227982 0.78870202 0.811354  ]
  warnings.warn(
C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['square_error', 'absolute_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 100}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005992,0.003281,0.000000,0.000000,square_error,auto,10,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.003992,0.000632,0.000000,0.000000,square_error,auto,100,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.004791,0.001324,0.000000,0.000000,square_error,sqrt,10,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
3,0.004794,0.000979,0.000000,0.000000,square_error,sqrt,100,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
4,0.005991,0.002603,0.000000,0.000000,square_error,log2,10,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
5,0.008986,0.006024,0.000000,0.000000,square_error,log2,100,"{'criterion': 'square_error', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
6,0.008985,0.006771,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.004591,0.001741,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.369416,0.059749,0.043135,0.040283,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.844195,0.765855,0.800915,0.810697,0.759027,0.796138,0.031108,7
9,3.404849,0.246647,0.073088,0.020879,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.859694,0.789973,0.809545,0.831112,0.768234,0.811711,0.031769,4
10,0.368018,0.101629,0.016775,0.003649,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.840000,0.752899,0.804984,0.797453,0.758374,0.790742,0.032106,10
11,3.951193,0.466083,0.077479,0.028552,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.855117,0.787453,0.810398,0.819992,0.769157,0.808423,0.029325,6
12,0.010184,0.011390,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.003793,0.000399,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.294935,0.161178,0.045527,0.024477,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.837827,0.759153,0.790617,0.807688,0.763360,0.791729,0.029144,9
15,2.018827,0.191814,0.129399,0.027340,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.866984,0.785024,0.805178,0.833404,0.770853,0.812288,0.034491,2
16,0.320297,0.069372,0.029553,0.011603,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.840360,0.752633,0.798151,0.805103,0.745538,0.788357,0.035186,12
17,1.909398,0.199859,0.077081,0.022012,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.862042,0.787974,0.808829,0.832795,0.772040,0.812736,0.031994,1
18,0.003993,0.000632,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
19,0.004392,0.000798,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
20,0.167133,0.043501,0.029356,0.018928,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.844929,0.775857,0.797056,0.801481,0.753695,0.794604,0.030367,8
21,1.570333,0.073990,0.070689,0.016398,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.863424,0.793408,0.805172,0.832302,0.767094,0.812280,0.033061,3
22,0.159349,0.025105,0.032949,0.019567,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.851473,0.767309,0.801726,0.784875,0.738127,0.788702,0.037789,11
23,1.506633,0.030552,0.082071,0.032415,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861749,0.792121,0.808059,0.827212,0.767629,0.811354,0.031886,5

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:35
BMI:43
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[41596.6311439]

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(